.row
	.large-12.columns
		%ul.inline-list
			%li= link_to 'Our Certificate Practice Statement', cps_path, title: 'Download our current Certificate Practices Statement'
			%li= link_to 'Our Certificate Policy', cp_path, title: 'Download our Certificate Policy'
.row
	.large-12.columns
		%h5
			%strong Difference between renewing and rekeying a certificate
		%p Both renewing and rekeying result in the generation of a new certificate with a new serial number. The difference between the two is that renewing will maintain the same public key whereas rekeying will use a new user provided public key and will therefore require a new CSR. Both renewed and rekeyed certificates will retain the same attributes and subject name as the original certificate.
		
		%h5
			%strong What is a CSR
		%p A Certificate Signing Request or CSR is a message that is presented to a Certificate Authority (CA) to apply for an X.509 certificate. PSYPHR requires CSRs to be formatted using the common PKCS#10 specification.
		
		%h5
			%strong What is a Certificate Policy
		%p
			A Certificate Policy is a named set of rules that indicates the applicability of a certificate to a particular community and/or 			class of application with common security requirements.
		
		%h5
			%strong What is a Certificate Practice Statement
		%p
			