- if @certificates and @certificates.length > 0
	%ul
	- @certificates.each do |certificate|
		%li
			= link_to certificate.id, admin_end_entity_certificate_path(@end_entity, certificate)
			= link_to 'destroy', admin_end_entity_certificate_path(@end_entity, certificate), {method: :delete, remote: true}
- else
	%p No certificates yet
	
= link_to 'Add a new certificate', new_admin_end_entity_certificate_path