.row
	.large-12.columns

		%p Add a New App

		= form_for @app, url: admin_apps_path do |f|
	
			= render partial: 'form', object: f
	
			.row
				.large-4.columns
					&nbsp;
				.large-4.columns
					.right
						= f.submit 'Create', {class: 'button small'}
				.large-4.columns
					&nbsp;

		= link_to 'Cancel', admin_apps_path, {class: 'button small'}