.row
	.large-12.columns
		- if @end_entities and @end_entities.length > 0
			%ul
			- @end_entities.each do |end_entity|
				%li
					= link_to end_entity.did, admin_end_entity_path(end_entity.id)
					= link_to 'destroy', admin_end_entity_path(end_entity.id), {method: :delete, remote: true}
		- else
			%p No End Entities Yet
	
		= link_to 'Add a new end entity', new_admin_end_entity_path