.row
	.large-12.columns
		%p Add a New End Entity

		= form_for @end_entity, url: admin_end_entities_path do |f|
	
			= render partial: 'form', object: f, locals: {apps: @apps}
	
			.row
				.large-4.columns
					&nbsp;
				.large-4.columns
					.right
						= f.submit 'Create', {class: 'button small'}
				.large-4.columns
					&nbsp;

		= link_to 'Cancel', admin_end_entities_path, {class: 'button small'}